* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #e5e5e5;
  padding: 10px;
  text-align: center;
  color: rgb(31, 116, 255);
  margin-top: auto;
}
